
/* Set the background color of the entire page */
body {
    background-color: #0a192f;
  }
  
  /* Remove underline and change link color */
  a {
    text-decoration: none;
    color: #ccd6f6;
  }
  
  /* Change link color on hover and add transition effect */
  a:hover {
    color: aquamarine;
    transition: 0.3s;
  }
  
  /* Set style for an unordered list */
  ul {
    display: flex;
    list-style: none; /* Remove bullet points */
    gap: 25px;
    margin-left: auto;
    padding: 0;
    align-items: center;
  }
  
  /* Set style for header section */
  .header {
    font-family: "Fira Code";
    display: flex;
    font-size: 13px;
    padding: 14px;
  }
  
  /* Set style for CV button */
  .cv-button {
    color: #ccd6f6;
    background-color: transparent;
    border: 1px solid;
    padding: 0.75rem 1rem;
    border-radius: 7px;
  }
  
  /* Change CV button style on hover and add transition effect */
  .cv-button:hover {
    color: aquamarine;
    background-color: rgba(127, 255, 212, 0.132);
    transition: 0.3s;
  }
  
  /* Set style for introduction section */
  .intro {
    display: flex;
    gap: 10px;
    padding: 5% 15%; /* Set padding to 10% on left and right */
    font-family: "NTR", sans-serif;
    font-size: 96px;
    color: #ccd6f6;
  }
  
  /* Change color for name in introduction section */
  .intro-name {
    color: aquamarine;
    font-weight: 600;
  }

/* Set animation for blinking cursor */
@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Add blinking cursor after intro span */
  .intro::after {
    content: '|';
    animation: blink 1s infinite;
    color: aquamarine;
  }

.section-intro{
  display: flex;
  font-size: 50px;
  font-family: "NTR", sans-serif;
  color: rgb(136, 146, 176);
  gap: 10px;
  padding: 0 15%; /* Set padding to 10% on left and right */
  margin-top: -150px;
  flex-direction: column;
}


.intro-text {
    font-size: 20px;
    max-width: 500px;
    margin-top: -35px;
}

.say-hi {
    position: relative; /* Add position relative to the button */
    color: aquamarine;
    background-color: transparent;
    border: 1px solid;
    border-radius: 7px;
    margin-right: 85%;
    padding: 20px;
    font-size: 20px;
    text-align: center; /* Align the button content to the left */
    padding-left: 50px;
    white-space: nowrap;
  }
  
  /* Add the envelope icon using ::before pseudo-element */
  .say-hi::before {
    content: "\2709"; /* Add the envelope unicode */
    display: inline-block;
    font-size: 40px;
    position: absolute;
    left: 20px; /* Adjust the position of the icon as needed */
    top: 47%;
    transform: translateY(-50%);
    color: aquamarine; /* Match the color of the button */
  }
  
  /* Change Say-hi button style on hover and add transition effect */
  .say-hi:hover {
    color: #ccd6f6;
    background-color: rgba(127, 255, 212, 0.132);
    transition: 0.3s;
  }
  
  /* Change the hover style for the envelope icon */
  .say-hi:hover::before {
    color: #ccd6f6;
    transition: 0.3s;
  }
  
  .about-section{
    display: flex;
    font-size: 50px;
    font-family: "NTR", sans-serif;
    color: rgb(136, 146, 176);
    gap: 10px;
    padding: 0 15%; /* Set padding to 10% on left and right */
    margin-top: auto;
    flex-direction: column;
  }

  .about-title:after {
    content: "";
    display: block;
    width: 300px;ß
    margin-top: 39px;
    height: 1px;
    margin-left: 20px;
    background-color: red;
}


  .about-title{
    font-family: "Fira Code";
    color: #ccd6f6;
    font-size: 30px;

  }
  


  @media only screen and (max-width: 767px) {
    .intro {
      font-size: 60px;
      padding: 0 10px;
      text-align: center;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      margin-bottom: -80px;
    }
  
    .intro-name {
      font-size: 60px;
      color: aquamarine;
    }
    
    .intro-title {
        white-space: normal;
        display: inline-block;
        max-width: 90%;
        width: auto;
        font-size: 30px;
        line-height: 1;
      }



      .section-intro {
        margin-top: 50px;
        align-items: center;
        text-align: center;
        padding: 0 10%;
        margin-top: 50px;
      }

      .intro-text{
        margin-top: 5px;
      }
      .say-hi{
        margin: 0 auto; 
      }
  }

