/* Set the background color of the entire page #0a192f*/
/*Github pages*/
html{
  scroll-behavior: smooth;
}
body {
    background-color: #050e1b;
  
  }
  
  /* Remove underline and change link color */
  a {
    text-decoration: none;
    color: #ccd6f6;
  }
  
  /* Change link color on hover and add transition effect */
  a:hover {
    color: aquamarine;
    transition: 0.3s;
  }
  
  /* Set style for an unordered list */
  ul {
    display: flex;
    list-style: none; /* Remove bullet points */
    gap: 25px;
    margin-left: auto;
    padding: 0;
    align-items: center;
  }
  
  /* Set style for header section */
  .header {
    font-family: "Fira Code";
    display: flex;
    font-size: 13px;
    padding: 14px;
  }
  
  /* Set style for CV button */
  .cv-button {
    color: #ccd6f6;
    background-color: transparent;
    border: 1px solid;
    padding: 0.75rem 1rem;
    border-radius: 7px;
  }
  
  /* Change CV button style on hover and add transition effect */
  .cv-button:hover {
    color: aquamarine;
    background-color: rgba(127, 255, 212, 0.132);
    transition: 0.3s;
  }
  
  /* Set style for intro section*/
  .intro {
    display: flex;
    gap: 10px;
    padding: 5% 15%; 
    font-family: "NTR", sans-serif;
    font-size: 96px;
    color: #ccd6f6;
  }
   
  /* Change color for name in introduction section */
  .intro-name {
    color: aquamarine !important;
    font-weight: 600 !important;
  }


/* Set animation for blinking cursor */
@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Add blinking cursor after intro span */
  .intro::after {
    content: '|';
    animation: blink 1s infinite;
    color: aquamarine;
  }

  /*intro section styling*/
.section-intro{
  display: flex;
  font-size: 50px;
  font-family: "NTR", sans-serif;
  color: rgb(136, 146, 176);
  gap: 10px;
  padding-left: 15%;
  padding-right: 25%;
  margin-top: -150px;
  flex-direction: column;
}


/*fade in animation*/
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

@media(prefers-reduce-motion){
  .hidden{
    transition: none;
  }
} 
/*fade in animation*/

.intro-text {
    font-size: 20px;
    max-width: 500px;
    margin-top: -35px;
    
}


/*say hi button styling*/
 #say-hi {
    position: relative; /* Add position relative to the button */
    color: aquamarine;
    background-color: transparent;
    border: 1px solid;
    border-radius: 7px;
    margin-right: 85%;
    padding: 15px;
    font-size: 25px;
    text-align: center; 
    padding-left: 50px;
    white-space: nowrap;
    flex-shrink: 0;
  }
  
  /* Add the envelope icon using ::before pseudo-element */
  #say-hi::before {
    content: "\2709"; /* envelope unicode */
    display: inline-block;
    font-size: 40px;
    position: absolute;
    left: 20px; 
    top: 47%;
    transform: translateY(-50%);
    color: aquamarine; 
  }
  
  /* Say-hi button hover transition effect */
  #say-hi:hover {
    color: #ccd6f6;
    background-color: rgba(127, 255, 212, 0.132);
    transition: 0.3s;
  }
  
  /* hover style for the envelope icon */
  #say-hi:hover::before {
    color: #ccd6f6;
    transition: 0.3s;
  }

  /*section styling*/
  .aboutme-section, .experience-section{
    padding-left: 15%;
    padding-right: 25%;
    font-family: "NTR", sans-serif;
    color: #ccd6f6;
    overflow: hidden;
  }
  
  /*header styling*/
  .header-section{
    padding-top: 3%;
    display: flex;
    padding-bottom: 42px;
    width: 100vw;
  }

  /*header animation*/
  .header-section:after {
    content: "";
    display: block;
    width: 300px;
    margin-top: 39px;
    height: 1px;
    margin-left: 20px;
    margin-top: 22px;
    background-color: rgb(86, 98, 121);
  }

  /*about title styling */
  .about-title{
    font-family: "Fira Code";
    color: #ccd6f6;
    font-size: 30px;

  }
/*about text styling*/
  .aboutme-text{
    font-size: 20px;
    font-family: "NTR", sans-serif;
    color: rgb(136, 146, 176);
    max-width: 480px;
    line-height: 1.4;
  }

  /*skilz section*/
  .skilz {
    padding: 0;
    list-style-type: '\25B9'; /* Unicode character for White Right-Pointing Small Triangle */
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 10px));
    padding-left: 15px;
    font-size: 20px;
  }
  /*list styling*/
  .skilz li {
    color: rgb(136, 146, 176); 
    list-style-type: none; 
    position: relative; 
  }
  
  /*skilz arrow*/
  .skilz li::before {
    content: '\25B9'; 
    color: aquamarine; 
    position: absolute; 
    left: -15px; 
  }

  /*skilz animation*/
  .skilz:nth-child(2){
    transition-delay: 200ms;
  }
  .skilz:nth-child(3){
    transition-delay: 500ms;
    
  }
  .skilz:nth-child(4){
    transition-delay: 700ms;
    
  }
  

  /*hamburger menu*/
  .hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 20px;
    margin-right: 10px;
    
  }
  
  .hamburger-menu .line {
    width: 100%;
    height: 2px;
    background-color: #ccd6f6;
    margin-bottom: 4px;
    transition: background-color 0.3s;
  }
  
  /* Animate the hamburger menu lines on active state */
  .hamburger-menu.active .line:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  
  .hamburger-menu.active .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-menu.active .line:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }

  /* Style the tab */
.tab {
  float: left;
  background-color: #050e1b;
  width: 30%;
  height: 300px;
}

/* Style  buttons*/
.tablinks{
  background-position: center;
  transition: background 0.8s;
  font-family: 'Montserrat';
}
.tablinks:hover {
  background: #050e1b radial-gradient(circle, transparent 1%, #050e1b 1%) center/15000%;
}
.tablinks:active {
  background-color: rgba(127, 255, 212, 0.399);
  background-size: 100%;
  transition: background 0s;
}


.tab button {
  display: block;
  background-color: inherit;
  color: rgb(136, 146, 176);
  padding: 18px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  background-color: #050e1b;
}

.tab button.active {
  color: aquamarine;
}


/* Style the tab content */
.tabcontent {
  width: 70%;
  border-left: none;
  height: 300px;
  padding-left: 280px;
}

.tab-text{
  margin: 0;
  color: rgb(136, 146, 176);
}

.list-text{
  display: block;
  margin-top: 0;
  list-style-type: '\25B9'; /* Unicode character for White Right-Pointing Small Triangle */
  grid-template-columns: repeat(2, minmax(150px, 10px));
  padding-left: 15px;
  font-size: 20px;
}

  /*list styling*/
  .list-text li {
    color: rgb(136, 146, 176); 
    list-style-type: none; 
    position: relative; 
    line-height: 25px;
    padding-bottom: 20px;
  }
  
  /*skilz arrow*/
  .list-text li::before {
    content: '\25B9'; 
    color: aquamarine; 
    position: absolute; 
    left: -15px; 
  }


/* H3 Styling / tab title styling */

.tab-title{
  margin: 0;
  font-size: 30px;
}



.company-certificate{
  color:aquamarine !important
}


  

  /*mobile content*/
  @media only screen and (max-width: 767px) {

    .header {
      justify-content: space-between;
    }
  
    .hamburger-menu {
      display: flex;
    }
  
    .links {
      display: none;
    }
  
    .header.active .links {
      display: flex;
      flex-direction: column;
      padding-right: 35%;
    }

   

    .intro {
      font-size: 50px;
      padding: 0 10px;
      text-align: center;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      margin-bottom: -80px;
    }
  
    .intro-name {
      color: aquamarine;
      font-weight: 600;
    }
    
    .intro-title {
        white-space: normal;
        display: inline-block;
        max-width: 90%;
        width: auto;
        font-size: 30px;
        line-height: 1;
      }



      .section-intro {
        margin-top: 50px;
        align-items: center;
        text-align: center;
        padding: 0 10%;
        margin-top: 50px;
      }

      .intro-text{
        margin-top: 5px;
      }
      #say-hi{
        margin: 0 auto; 
      }

      .tab{
        width: 100%;
        height: auto;
      }

      .tabcontent{
        padding-left: 0;
        width: 100%;
      }

      

  }

